.header {
    padding:12px;
    background-color:#fff;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color:blue;
}

.header a::before {
    content: '< back';
}

.textSection {
    display:flex;
    flex-wrap:nowrap;
    gap:24px;
    align-items:center;
}

.completed {
    text-decoration:line-through;
}

.listItem {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    background-color:#fff;
    margin-top:10px;
    padding:12px;
}

.buttonSection {
    display:flex;
    flex-wrap:nowrap;
    gap:24px;
}